
*{
    margin: 0px;
    padding: 0px;
    font-family: Segoe UI;
}
.bg1{
    /* height: 1080px; */
    height: 1080px;
    width: 100%;
    background-color: #0f0e13;
    background-image: radial-gradient(at 0% 0%,hsla(253,16%,7%,1) 0,transparent 50%),radial-gradient(at 50% 0%,hsla(225,39%,30%,1) 0,transparent 50%),radial-gradient(at 100% 0%,hsla(339,49%,30%,1) 0,transparent 50%);
}
.bg2{
    height: 1080px;
    width: 100%;
    background-color: #0f0e13;
    background-image: radial-gradient(at 0% 0%,hsla(253,16%,7%,1) 0,transparent 50%),radial-gradient(at 50% 100%,hsla(225,39%,25%,1) 0,transparent 50%);
    border-top: solid 1px white;
}

.header{
    width: 100%;
   height: 64px;
    /* background-color: rgba(112, 112, 112, 0.459); */
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.container{
    width: 80%;
    border-radius: 20px;
    /* background-color: rgba(0, 0, 0, 0.199); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 35%;
    /* height: 60px; */
    /* background-color: rgb(241, 253, 76); */
    font-size: 50px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
    line-height: 50px;
    color: aliceblue;
}
.navigation{
    width: 40%;
    height: 60px;
    /* background-color: rgb(9, 255, 0); */
    
}
.nav-bar{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    width: 50%;
}
.nav-link{
    overflow: hidden;
    list-style-type: none;
    width: 20%;
    height: 60px;
    font-family: Segoe UI;
    
    /* system-ui,-apple-system,,Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji" */
    /* background-color: rgb(189, 99, 99); */
    text-align: center;
    font-size: 18px;

    line-height: 60px;
    color: aliceblue;
    transition: .2s;
    cursor: pointer;
}
.nav-link:hover{
    /* background-color: #00ccff; */
    /* transform: scale(1.2); */
    /* box-shadow: #2fceff70 0px 0px 39px 0px; */
    /* border-radius: 25px;  */
    color: aqua;
}
.loginB{
    cursor: pointer;
    line-height: 60px;
    width: 6rem;
    height: 40px;
    background-color: rgba(41,82,227,1);
    border-radius: 20px;
    /* height: 3rem; */
    list-style-type: none;
    transition: .2s;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-weight: bold;
    align-items: center;
}
.loginB a{
    text-decoration: none;
    color: aliceblue;

}
.loginB:hover{
    background-color: rgb(34, 67, 185);
    /* transform: scale(1.1); */
    /* box-shadow: #2f71ff70 0px 0px 39px 0px;  */
}
::marker {
    color: rgba(0, 128, 0, 0); 
    
}
/* for mobile */



@media (max-width:480px) {
    .logo{
        width: 100%;
    }
    .container{
        flex-direction: column;
        width: 95%;
    }
    .navigation{
        width: 100%;
        height: auto;
    }
    .nav-link{
        width: 100%;
        text-align: left;
      
    }
    .nav-bar{
        flex-direction: column;
    }

}