body.Ahome .Home,
body.Aproducts .products,
body.Aorders .orders,
body.Ausers .users,
body.Aprofile .profile {
  // background-color: rgb(255, 255, 255);
  border-right: 10px solid #2952e3;
  a {
    color: #94abff;
  }
}
body.Ahome,
body.Aproducts,
body.Aorders,
body.Ausers,
body.Aprofile {
  background: radial-gradient(circle, rgb(0, 85, 102) 12%, rgb(3, 0, 47) 100%);
  * {
    color: aliceblue;
  }
}

.bodyA {
  * {
    color: black;
  }
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  height: 100vh;
  min-height: fit-content;
  // background-color: black;
  top: 0;
  .sidebarA {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 20vw;
    background-color: black;
    height: 100%;
    align-items: center;

    img {
      width: 15vw;
      margin-top: 50px;
    }

    * {
      color: aliceblue;
    }

    ul {
      height: 60vh;
      width: 100%;
      text-align: center;
      a {
        text-decoration: none;
      }
      li {
        width: 100%;
        // border: solid grey 1px;
        padding: 10px 10px;
      }
    }
  }
  .mainA {
    // margin: 30px 30px;
    margin-top: 40px;
    // position: static;
    margin-left: 25vw;
    height: 200vh;
    .productsEnlisted {
      margin-top: 40px;
      .productsAdmin {
        width: 30vw;
        border: solid 2px;
        border-radius: 20px;
        padding: 10px 20px;
        .categoryH li {
          margin: 5px 0;
          font-size: 20px;
          display: flex;
          justify-content: space-between;
          p {
            margin-right: 20px;
            font-weight: 600;
          }
          // flex-direction: column;
        }
      }
    }
  }
}
