.header {
  width: 100%;
  height: 64px;
  /* background-color: rgba(112, 112, 112, 0.459); */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  width: 90%;
  border-radius: 20px;
  /* background-color: rgba(0, 0, 0, 0.199); */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}
.logom {
  // width: 10px;
}

.logo {
  width: 150px;
  /* height: 60px; */
  /* background-color: rgb(241, 253, 76); */
  font-size: 50px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 10px;
  line-height: 50px;
  color: aliceblue;
}

.navigation {
  width: 40%;
  height: 60px;
  /* background-color: rgb(9, 255, 0); */
}

.nav-barIn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  width: 100%;
  margin-right: -10px;
}
.profileicon {
  // margin-top: 0px;
}
.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  width: fit-content;
  padding: 5px;
  min-width: 50%;
}

.nav-link {
  overflow: hidden;
  list-style-type: none;
  width: 20%;
  height: 60px;
  font-family: Segoe UI;
  /* system-ui,-apple-system,,Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji" */
  /* background-color: rgb(189, 99, 99); */
  text-align: center;
  font-size: 18px;
  line-height: 60px;
  color: aliceblue;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  transition: transform 0.2s;
  a {
    text-decoration: none;
    color: aliceblue;
    font-weight: 600;
  }
  a:hover {
    /* background-color: #00ccff; */
    /* transform: scale(1.2); */
    /* box-shadow: #2fceff70 0px 0px 39px 0px; */
    /* border-radius: 25px;  */
    color: aqua;
  }
}
.nav-link:hover {
  /* transition: transform .2s; */
  transform: scale(1.2);
}

.loginB {
  cursor: pointer;
  line-height: 60px;
  width: 6rem;
  height: 40px;
  background-color: #2952e3;
  border-radius: 20px;
  /* height: 3rem; */
  list-style-type: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: aliceblue;
  font-weight: bold;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 20px;
}

.loginB a {
  text-decoration: none;
  color: aliceblue;
}

.loginB:hover {
  background-color: #2243b9;
  transform: scale(1.1);
  /* box-shadow: #2f71ff70 0px 0px 39px 0px;  */
}
