@media (max-width: 480px) {
  .logo {
    width: 100%;
  }
  .container {
    margin-top: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 95%;
  }
  .navigation {
    width: 100%;
    height: auto;
  }
  .nav-link {
    width: 100%;
    text-align: left;
  }
  .nav-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
