.body {
  * {
    color: white;
    margin: 0;
    padding: 0;
  }
  height: fit-content;
  width: 87vw;
  // background-color: #0f0e13;
  // margin-top: 50px;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  .PcContainer {
    width: 58vw;
    height: fit-content;
    .core {
      padding: 20px;
      background-color: #211f349c;
      width: 100%;
      height: 500px;
      border-radius: 30px;
      p {
        color: white;
      }
      .heading {
        border: 10px solid #ad00ff;
        border-image-slice: 1;
        border-width: 2px;
        border-radius: 20px;
        font-size: 25px;
        font-weight: 700;
        padding: 10px 40px;
        width: fit-content;
        background-color: #211f34;
        margin-top: -50px;
        margin-left: 20px;
      }
      .inside {
        display: flex;
        gap: 60px;
        margin-bottom: 20px;

        .compo {
          margin-top: 30px;
          margin-left: 25px;
          p {
            text-transform: capitalize;
            margin-bottom: 20px;
            font-size: 21px;
            font-weight: 600;
            // text-align: center;
          }
          .option {
            display: flex;
            justify-content: space-between;
            width: fit-content;
            gap: 20px;
            #CPUmodel {
              // padding: 0 39px;
              width: 150px;
            }
            select {
              min-width: 150px;

              font-size: 17px;
              padding: 7px 0;
              text-align: center;
              background-color: #2e3249;
              border: 3px solid #ad00ff;
              border-radius: 15px;
              option {
                color: white;
              }
            }
          }
        }
      }
      // .gpu {
      //   margin-top: 30px;
      //   margin-left: 25px;
      //   p {
      //     margin-bottom: 20px;
      //   }
      // }
    }
  }

  .pc {
    // padding-right: 50px;
    margin-left: 65vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-bottom: 50px;
    position: -webkit-sticky;
    position: fixed;
    top: 125px;
    width: fit-content;
    .detail {
      width: 300px;
      display: flex;
      flex-direction: column;
      div {
        // min-width: fit-content;
        // width: 10vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // gap: 70px;
        font-size: 18px;
        .power {
          &::after {
            content: "W";
          }
        }
        div {
          font-weight: 700;
        }
        #Tprice {
          color: rgb(0, 255, 0);
          &::before {
            content: "$";
          }
        }
      }
    }
    img {
      width: 320px;
    }
    input {
      padding: 5px 10px;
      background-color: #2e3249;
      border: solid 2px #ad00ff;
      border-radius: 15px;
      width: 10vw;
      height: 50px;
      font-size: 20px;
      transition: 0.2s ease-in-out;
      margin-top: 20px;
      // margin: 0 auto;
      &:hover {
        background-color: #ad00ff;
        transform: scale(1.2);
      }
      &:active {
        transform: scale(1);
      }
    }
  }
}
